# Mealie — Storage paths
DATA_ROOT=../service_data/mealie

# Postgres
POSTGRES_DB=mealie
POSTGRES_USER=mealie
POSTGRES_PASSWORD=your_strong_password


# Registration — set to false to disable, true to allow
ALLOW_SIGNUP=false
