# Miniflux — Storage paths
DATA_ROOT=../service_data/miniflux

# Postgres
POSTGRES_DB=miniflux
POSTGRES_USER=miniflux
POSTGRES_PASSWORD=your_strong_password

# Admin account (created on first start)
MINIFLUX_ADMIN_USER=admin
MINIFLUX_ADMIN_PASSWORD=your_strong_password
