# Gitea — Storage paths
DATA_ROOT=../service_data/gitea

# Postgres
POSTGRES_DB=gitea
POSTGRES_USER=gitea
POSTGRES_PASSWORD=your_strong_password


# Registration — set to true to disable, false to allow
DISABLE_REGISTRATION=true

# Actions runner token — get from Gitea → Site Admin → Runners → Create Runner
GITEA_RUNNER_TOKEN=your_runner_token_here
